<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
	bootstrap="vendor/autoload.php"
	colors="true"
	verbose="true"
	stopOnFailure="false">
	<testsuites>
		<testsuite name="Tournament Generator">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<logging>
		<log type="coverage-html" target="build/coverage"/>
		<log type="coverage-clover" target="build/coverage.xml"/>
		<log type="coverage-php" target="build/coverage.serialized"/>
	</logging>
	<filter>
    <whitelist>
        <directory>./src</directory>
				<directory>./build</directory>
    </whitelist>
</filter>
</phpunit>
